* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(./images/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
/* background-position: center; */
 background-color: #0C0C0C;
}

/* //////////////////Navigation and Header section\\\\\\\\\\\\\\\\\\\\\\ */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding-left: 20px;
  /* background-color: red; */
  /* border-radius: 50px 5px 50px 5px; */
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #666;
  background-color: rgb(4, 89, 89);
}

nav a:hover {
  color: rgb(68, 66, 66);
  border-bottom: 2px solid rgb(248, 4, 4);
  /* background-color: rgb(157, 117, 238); */
  transition: background-color 1s;
  background-color: #fff;
  /* color: #333; */
}

/* ///////////////////////Main Section and paragraph home-content\\\\\\\\\\\\\\\\\\\\ */

.home-content {
  background-color:  rgba(82, 68, 107, 0.674);
  border-radius: 8px;
  max-width: 400px;
  margin-top: 70px;
  margin-left: 40px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(249, 4, 4, 0.936);
}

.home-button {
  background-color: #fff;
  color: #333;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  /* cursor: pointer; */
  margin-right: 10rem;
  border-radius: 50px 5px 50px 5px;
}

.info h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #fff;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 5px;
  display: inline-block;
}

.info p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 10px;
  color: #fff;
}

/*/////////// popUp section///////////// */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 400px;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.read-more-btn {
  margin-left: 280px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.read-more-btn:hover {
  color: #fff;
  border-bottom: 2px solid rgb(248, 4, 4);
  background-color: rgb(4, 89, 89);
  transition: background-color 0.9s;
}

/* ///////////home button////////////*/

.ps-button {
  /* border: solid 1px red; */
  margin: 20px 35px;
}

.po-se-button {
  font-family: "Roboto", sans-serif;
  padding: 5px 64px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  border: 1px solid #666;
  background-color: rgb(4, 89, 89);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.po-se-button:hover {
  color: rgb(68, 66, 66);
  border-bottom: 2px solid rgb(248, 4, 4);
  background-color: #fff;
  transition: background-color 1s;
}

    /* //////////////////footer sectiron\\\\\\\\\\\\\\\\\\\\\\\*/

    .media-icons {
  margin-top: 50px;
  margin-bottom: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.media-icons a {
  position: relative;
  color: #ff5733;
  font-size: 30px;
  transition: 0.8s;
  transition-property: all;
}

.media-icons a:hover {
  transform: scale(1.5);
}

.copy-right{
    color: #fff;
    text-align: center;
}

/* /////////////////////////////Media query section\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (max-width: 768px) {
  .nav-links{
    flex-direction: column;
    gap: 12px;
    font-size: 0.9em;
  }

  .nav-links li a{
    padding: 4px;
    text-align: center;
  }

  .home-content{
    margin: 20px;
  }

  .ps-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 50%;
    margin-left: 15px;
  }

  .read-more-btn{
    margin-left: 8px;
  }
}

@media screen and (max-width: 375px) {
  .home-content{
    font-size: 2em;
  }

  .nav-links{
    flex-direction: column;
    gap: 20px;
    font-size: 0.8em;
    overflow: hidden;
  }

  .nav-links li a{
    padding: 8px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

}